<div class="">
  <h3>公司简介</h3>
  我公司位于全国文明卫生城市，张家港市塘桥镇，204国道旁边，主营线材电线电缆表面处理设备以及金刚线切割设备。由我厂自主研发生产的金刚石线设备和各种规格的金刚线线切割设备产品以已赢得广大客户的认可， 本公司依靠自己团队研发实力，和先进技术理念，不断改进和技术创新，把天工机械打造成行业一流品牌， 公司竭诚欢迎相关企业人士，成为我们的客户，成为我们的朋友，成为我们的伙伴！总经理唐晓伟先生，欢迎各界朋友莅临参观、指导和业务洽谈。

  <h3>公司主要产品</h3>
  <div>
    
    <h4>金刚石电镀线设备</h4>
    <table>
      <tr>
        <td><%= image_tag 'a.jpg', class: "img-responsive" %></td>
        <td><%= image_tag 'b.jpg', class: "img-responsive" %></td>
      </tr>
    </table>
    1、用途：主要用于硅；宝石；水晶；陶瓷；玉石等贵重脆硬材料的切割加工。 <br>
    2、生产成品线径：0.12—0.65mm <br>
    3、生产线速度：15—50m/min <br>
    4、进线数量：单根进线  <br>
    5、设备总功率：70KW 
    6、设备尺寸：15M（L）*1.5M（W）*2M（H） <br>
    7、工艺流程： 放线—前处理—预镀—上砂—固砂—后处理—收线  <br>
    8、工艺流程介绍： 放线：采用变频动力放线方式，张力自动调节稳定可靠，可适用BS200、BS64线盘 处理：采用化学方式去除线材表面油渍、锈渍，活化线材表面，提高镀层结合力 预镀：采用电化学反应方式，使线材表面覆上过度层。 上砂：采用电化学反应方式和物理悬砂方式相结合，保证了金刚砂良好的结合性和均匀的分布。 固砂：采用电化学反应方式，使线材表面覆上新的镀层，加固金刚砂和线材表面的结合力。 后处理：采用高压清洗方式和电加热方式，使成品表面干燥，干净。 收线：采用变频恒张力收线，可适用BS200、BS64、NTC线盘。 <br>
    9、设备性能介绍：放线与收线机体采用优质钢材焊接而成，镀槽部分；机架和壳体采用SUS304/316材料，槽体采用PP材料制造而成，本机操作、控制与驱动采用伺服电机和三相异步电机相结合，触摸屏与操作面板相结合，PLC与传感器相结合，进口元件与国产元件相结合，以实现自动穿线、张力自动调节、镀液在线分析、液位自动控制、线径在线检测、砂粒分布图片在线抓拍、轴动精密收线等功能，设备以基本实现全自动化。 <br>
    10、客户配备：0.8MPA气源和自来水。
  </div>

  <div>
    <h4>金刚石线倒盘机</h4>
    <table>
      <tr>
          <td width='50%'><%= image_tag 'c.jpg', class: "img-responsive" %></td>
          <td><%= image_tag 'd.jpg', class: "img-responsive" %></td>
        </tr>
    </table>
    精密复绕机设备规范 
    1、 生产线径(mm)：0.08—0.6 <br>
    2、 最大生产速度(min)：500m  <br>
    3、 额度生产速度(min)：400m  <br>
    4、 机体结构：钢板焊接退火加工  <br>
    5、 收放线电机功率(kw)：1.5  <br>
    6、 传动方式：平皮带  <br>
    7、 排线伺服电机(kw)：1.5  <br>
    8、 绕线张力范围（N）：3---40  <br>
    9、 排线方式：轴动  <br>
    10、放线盘尺寸：BS64、BS200(可订做非标)  <br>
    10、收线盘尺寸：BS64,BS200,NTC(可订做非标)  <br>
    11、电控方式：变频器、PLC、触摸屏 <br>
    12、使用电压(V)：380 <br>
    13、外型尺寸(mm)：2000L*1300W*1800H <br>
    14、总重量(T)：1.2 本设备主要适用于电镀金刚线、树脂金刚线、切割线、钢帘线等成品线材的倒盘收装。  <br>自由设定线速度、绕线张力、排线距离、有自动补偿功能，具有操作方便、能耗小、成品率高、占地面积小等优点，是切割线、金刚线、钢帘线厂家生产高端产品的必备理想设备
  </div>
</div>

<strong>本公司还承担金刚石电镀线相关配套设备加工，欢迎来电咨询。</strong>