<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    
  </div>


  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <ol class="breadcrumb">
        <li>
          <a href="/">网站首页</a>
        </li>
        <li class="active">产品中心</li>
    </ol>

    <% @products.each do |product| %>
      <div class="showroom-item col-sm-3">
          <div class="image">
              <%= image_tag product.avatar.url, class: "img-responsive", width: "263px" %>
              <a class="" href="<%= product_path(product) %>">
                  <i class="glyphicons search"><i></i></i>
                  <div class="name"><%= product.name %></div>
              </a>
          </div>
      </div>
    <% end %>                      
  </div>                      
</div>
